.admin-dashboard {
  margin: auto 20px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard-header h2 {
  font-family: 'Syne', sans-serif;
  color: #003c46;
  font-weight: 800;
  font-size: 3rem;
}
.btn-primary {
  background: linear-gradient(135deg, #007c91, #005461);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn-primary:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.table-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: #005461;
  color: white;
}
thead th {
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 600;
}
tbody tr:hover {
  background: #f6fbfc;
}
tbody td {
  padding: 14px 16px;
  font-size: 14px;
  color: #333;
}
.user-name {
  font-weight: 600;
  color: #003c46;
}
.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}
.badge.weight_loss {
  background: #ffecec;
  color: #d32f2f;
}
.badge.muscle_gain {
  background: #e3f2fd;
  color: #1976d2;
}
.badge.maintenance {
  background: #e8f5e9;
  color: #388e3c;
}
.actions {
  display: flex;
  gap: 8px;
}

.btn-view {
  background: #5682b1;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.btn-view:hover {
  background: #003c46;
}
.btn-delete {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.btn-delete:hover {
  background: #b71c1c;
}
@media (max-width: 600px) {

  .admin-dashboard {
    padding: 17px;
    margin:0;
  }

  .dashboard-header {
    flex-direction: column;
    gap: 10px;
  }

  .dashboard-header h2 {
    font-size: 2rem;
    text-align: center;
  }
  .btn-primary {
    width: 100%;
  }
  .table-card {
    overflow-x: auto;
  }

  table {
    min-width: 700px;
  }

  .actions {
    flex-direction: column;
  }

  .btn-view,
  .btn-delete {
    width: 100%;
  }
}
