.admin-user {
  padding: 24px;
}
h2 {
  text-align: center;
  font-size:3rem;
  font-family: 'syne', sans-serif;
  font-weight: 800;
  color: #005461;
  margin-bottom: 30px;
}
h3 {
  font-size: 1.5rem;
  color: #003c46;
  margin-bottom: 18px;
}
h4 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #005461;
  margin-bottom: 12px;
}
h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #003c46;
  margin-bottom: 10px;
}
.card {
  background: #f4f6f8; 
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #00546194;
}
.profile-card h1 {
  margin: 4px 0;
  font-size: 1.3rem;
  color: #005461;
}
.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}
.day-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
}

.day-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-box {
  background: #f9fbfc;
  border-radius: 12px;
  padding: 12px;
}
.exercise-row {
  display: grid;
  grid-template-columns: 1fr 80px 80px;
  gap: 8px;
  margin-bottom: 6px;
}
.meal-row {
  display: grid;
  grid-template-columns: 120px 1fr 70px;
  gap: 8px;
  margin-bottom: 6px;
}
input,
select,
textarea {
  width: 90%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  font-size: 0.85rem;
}

textarea {
  resize: none;
}
button {
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 8px 14px;
  border-radius: 30px;
  background: #5682B1 ;
  color: #fff;
}
.primary-btn {
  background: #005461;
  color: #fff;
}

.primary-btn:hover {
  background: #003c46;
}
.secondary-btn {
  background: #e0f2f5;
  color: #005461;
  margin-top: 6px;
}
.secondary-btn:hover {
  background: #c6e8ee;
}
.save-day {
  margin-top: 10px;
}
canvas {
  width: 100% !important;
  max-height: 350px;
  background: #f4f6f8; 
  margin-bottom: 40px;
  padding: 16px;
  border-radius: 14px;
}
hr {
  border: none;
  height: 1px;
  background: #ddd;
  margin: 30px 0;
}
@media (max-width: 600px) {
  .admin-user {
    padding: 12px;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 0.95rem;
  }
  .card {
    padding: 14px;
  }
  .profile-grid {
    grid-template-columns: 1fr;
  }
  .day-grid {
    grid-template-columns: 1fr;
  }
  .exercise-row,
  .meal-row {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  input,
  select,
  textarea {
    width: 100%;
    font-size: 0.9rem;
  }
  button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    font-size: 0.95rem;
  }
  .buttons {
    width: auto;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  canvas {
    max-height: 260px;
    padding: 12px;
  }
}
