<div class="home-container">

  <header class="navbar">
    <h2 class="logo">SmartFit
         <svg fill="white" width="100px" height="100px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.48,6.55v0h0L14.64,3.71a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l2.12,2.12-8.1,8.1L5.12,13.22a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l2.81,2.81v0h0l2.81,2.81a1,1,0,0,0,.71.3,1,1,0,0,0,.71-1.71L8.66,16.76l8.1-8.1,2.12,2.12a1,1,0,1,0,1.41-1.42ZM3.71,17.46a1,1,0,0,0-1.42,1.42l2.83,2.83a1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.42Zm18-12.34L18.88,2.29a1,1,0,0,0-1.42,1.42l2.83,2.83a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,5.12Z"/></svg>
        </h2>
    
    <nav>
     <a routerLink="/dashboard" class="admin-btn">User Dashboard</a>
      <a routerLink="/admin/dashboard" class="admin-btn">Admin</a> 
      
    </nav>

  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>Smart Fitness Routine & Meal Planner</h1>
      <p>
        A personalized fitness platform that creates workout routines and meal
        plans based on your fitness goals.
      </p>
      <p>
      SmartFit helps users achieve their fitness goals such as
      <strong>Weight Loss</strong>, <strong>Muscle Gain</strong>, or
      <strong>Maintenance</strong>.
      Based on user profile data, the system automatically generates
      weekly workout and meal plans and tracks daily progress.
    </p>
      <div class="hero-actions">
        <button routerLink="/register">Get Started</button>
        <button class="outline" routerLink="/login">Login</button>
      </div>
    </div>
    <img src="assets/smartfit.png" alt="Fitness">
  </section>

   <h2>Features</h2>
  <section class="features">
 <div class="feature-card">
    <img src="assets/homepageWO.png" alt="">
      <h3> Personalized Workouts</h3>
      <p>Weekly workout routines based on your goal.</p>
      <p>Tailored for weight loss or muscle gain</p>
      <p>Simple, effective, and adaptive</p>
    </div>
    <div class="feature-card">
        <img src="assets/homepagefood.png" alt="">
      <h3> Smart Meal Plans</h3>
      <p>Calorie-based meal planning for better nutrition.</p>
      <p>Calorie-smart meal plans</p>
      <p>Balanced, goal-focused nutrition</p>
    </div>
    <div class="feature-card">
        <img src="assets/homepagePT.png" alt="">
      <h3>Progress Tracking</h3>
      <p>Track you</p>
      <p>Daily workout tracking</p>
      <p>Meal completion insights.</p>
    </div>
  </section>

    <h2>About Us</h2>
  <section class="about-us">
    <p>
      We are a team of developers building a smart fitness solution
      that combines technology with health and wellness.
      Our goal is to make fitness simple, structured, and accessible.
    </p>
  </section>

  <section class="cta">
    <h2>Start Your Fitness Journey Today</h2>
    <div class="cta-buttons">
      <button routerLink="/register">Create Account</button>
      <button routerLink="/login" class="outline">User Login</button>
      <button routerLink="/admin/login" class="admin">Admin Login</button>
    </div>
  </section>

  <footer>
    <p>SmartFit - Smart Fitness Routine & Meal Planner</p>
  </footer>

</div>
